.footer{
  width: 100%;
  background-image: url("../../img/footer/footer-bg.jpg");
  padding-top: 116px;
  padding-bottom: 104px;
  height: 1018px;
}

.footer-heading-wrapper{
  display: flex;
  justify-content: center!important;
}

.footer-heading-title{
  padding: 8px 16px;
  border: 1px solid #fff;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 23px;
  color: #fff;
  text-align: center;
  height: 36px;
  width: 178px;
  margin-bottom: 28px;
}

.footer-heading-content{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 2;
}

.footer-video-wrapper{
  display: flex;
  margin-top: 90px;
  margin-bottom: 114px;
  justify-content: center!important;
  align-items: center!important;
}

.footer-video{
  width: 780px;
  height: 440px;
  border: none;
}

.footer-logo{
  display: flex;
  justify-content: center!important;
  align-items: center!important;
}

.footer-logo-title{
  font-size: 21px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #fff;
}