/* If screen <= 1400px */
@media screen and (max-width: 1400px) {
  /* Header */
  .header-bg{
  	background-image: url("../img/header/header-bg2.jpg");
  }
  .header-text-subtitle{
  	color: #b7b7b7;
  }
  .header-text{
  	/*padding-left: 0;*/
  }
  
  /* Banner */
  .banner{
  	background-image: url("../img/banner/banner-bg2.jpg");
  }
  /* Footer */
  .footer{
  	background-image: url("../img/footer/footer-bg2.jpg");
  }
}

/* If screen <= 1200px */
@media screen and (max-width: 1200px) {
  /* Header */
  .header-text-content br{
  	display: none;
  }
  .gallery-slide-wrapper{
  	justify-content: center!important;
  }
}

/* If screen <= 992px */
@media screen and (max-width: 992px) {
  /* Header */
  .header-text{
  	margin-bottom: 95px;
  }

  .statistics-content-content br{
  	display: none;
  }

  .gallery-heading-content br{
  	display: none;
  }
  /* Banner */
  .banner-content br{
    display: none;
  }
  /* Footer */
  .footer-heading-content br{
  	display: none;
  }
}

/* If screen <= 768px */
@media screen and (max-width: 768px) {
  /* Header */
  .header-container{
  	padding-left: 0;
  	padding-right: 0;
  }

  .gallery-slide-wrapper{
  	display: none;
  }
  .gallery-heading-title{
  	padding-left: 0;
    justify-content: center!important;
  }
  .gallery-heading-content{
  	padding-top: 15px;
  }
  .gallery-left-column-item,
  .gallery-top-right,
  .gallery-right-column,
  .gallery-bottom-right,
  .gallery-bottom-right-item{
    justify-content: center!important;
  }
}