body{
	margin: 0;
}

a{
	text-decoration: none;
}

h1{
	margin: 0;
	line-height: .8;
}

h2{
	margin: 0;
	line-height: .8;
}

p{
	margin: 0;
	line-height: 1.5;
}

button{
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
}

button:focus{
	outline: none;
}

input{
	background-color: transparent;
}