/* Bootstrap & Normalize */
@import url("normalize.css");
@import url("bootstrap-grid.css");

/* Remove Scrollbar from Chrome, Yandex, Opera */
body::-webkit-scrollbar{
  width: 0;
}

/* Remove Scrollbar from FireFox */
@-moz-document url-prefix() {
  html{
    scrollbar-width: none;
  }
}

/* Paddings & margins are part of width/height */
*{box-sizing: border-box;}


/* Debug grid */
/**{ border:1px solid red; box-sizing:border-box; }*/

.background{
	background-image: url("../img/bg.jpg");
	width: 100%;
	height: 100vh;
}

.contacts-wrapper{
	padding-top: 30px;
	padding-left: 30px;
}

.contacts{
	width: 400px;
	height: 250px;
	background-color: #71afcb;
	border-left: 4px solid  #2a7699;
	border-right: 4px solid  #2a7699;
	padding-top: 20px;
	border-radius: 40px;
}

.contacts-title{
	margin-bottom: 20px;
	text-decoration: underline;
}

h1,p{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 52px;
	color: #fff;
	text-align: center;
}

.contacts-content{
	font-size: 20px;
	text-align: start;
	padding-top: 15px;
	padding-left: 15px;
}

.title-wrapper{
	display: flex;
	justify-content: flex-end;
	padding-top: 250px;
	padding-right: 307px;
}

.title{
	width: 550px;
	height: 100px;
	background-color: #2a7699;
	border-left: 4px solid #04405b;
	border-radius: 40px;
}

.title-h1{
	padding-top: 30px;
}

.subtitle-wrapper{
	padding-top: 100px;
	padding-left: 150px;
}

.subtitle{
	width: 755px;
	height: 105px;
	background-color: #2a7699;
	border-radius: 40px;
	border-right: 4px solid #04405b;
}

.subtitle-h1{
	padding-top: 30px;
}

.works{
	padding-top: 200px;
}

.works-heading-wrapper{
	display: flex;
	justify-content: flex-end!important;	
	padding-right: 135px;
}

.works-heading{
	width:470px;
	height: 100px;
	background-color: #71afcb;
	border-top: 4px solid  #2a7699;
	border-bottom: 4px solid  #2a7699;
	border-radius: 40px;
}

.works-h1{
	padding-top: 25px;
}

.works-content-wrapper{
	display: flex;
	justify-content: flex-end!important;
	padding-right: 125px;
}

.works-content{
	width: 500px;
	height: 200px;
	display: flex;
	justify-content: center!important;
	align-items: center!important;
}

.works-item-wrapper{
	margin-right: 50px;
}

.works-item-wrapper:nth-child(3){
	margin-right: 0;
}

.works-item{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #2a7699;
}

.works-item:hover{
	width: 150px;
	height: 150px;
	transition: .2s;
}

/* Media Quaries */
@media screen and (max-height: 800px) {
	.background{
		height: 1000px;
	}
}

@media screen and (max-width: 1400px) {
	.title-wrapper{
		padding-top: 30px;
		padding-right: 30px;
	}
	.works{
		padding-top: 30px;
	}
}

@media screen and (max-width: 992px) {
	.contacts-wrapper{
		display: flex;
		padding-left: 0;
		justify-content: center!important;
	}
	.title-wrapper{
		padding-right: 0;
		display: flex;
		justify-content: center!important;
	}
	.subtitle-wrapper{
		padding-left: 0;
		display: flex;
		justify-content: center!important;
	}
	.works-heading-wrapper,
	.works-content-wrapper{
		padding-right: 0;
		display: flex;
		justify-content: center!important;
	}
}

@media screen and (max-width: 568px) {
	.subtitle-h1{
		font-size: 46px;
	}
}

@media screen and (max-width: 500px) {
	h1{font-size: 44px;}
	.works-item-wrapper{margin-right: 15px;}
	.subtitle-wrapper{padding-top: 30px;}
	.title-h1{padding-top: 10px;}
	.subtitle-h1{padding-top: 10px;}
	.works-item:hover{width: 100px; height: 100px;}
}
