.news .content-wrapper{
	background-color: #222222;
	padding-top: 82px;
	padding-left: 215px;
	padding-bottom: 78px;
}

.news .content-wrapper:nth-child(2){
	background-color: #fff;
	padding-left: 80px;
}

.news .content-wrapper:nth-child(2) .article-date,
.news .content-wrapper:nth-child(2) .article-title,
.news .content-wrapper:nth-child(2) .article-content{
	color: #000;
}

.news .article-date{
	color: #fff;
	padding-bottom: 18px;
	font-family: 'Roboto';
	font-weight: 300;	
	font-size: 13px;
}

.news .article-title{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 25px;
	color: #fff;
	padding-bottom: 43px;
}

.news .article-content{
	padding-bottom: 35px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 15px;
	color: #fff;
}

.article-icon{
	height: 100%;
	width: 100%;
}
