.header-section{
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
}

.header-title-wrapper{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center!important;
}


.header-title-h1{
  color: $font-color;
  font-family: 'Roboto-Bold';
  background-color: darken($main-color, 15%);
}

.header-title-h2{
  color: $font-color;
  background-color: $main-color;
  margin-top: 20px;
  padding: 0 25px;
}