*{
  box-sizing: border-box;
}

// HEADINGS
h1{
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 64px;
}

h2{
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 48px;
  line-height: 63px;
}

h3{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
}

a{
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}